
@model IEnumerable<Alumno>

@{
    ViewData["Title"] ="Information de Asignatura";
    Layout = "_Layout";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <strong>Desde la vista parcial</strong>
<table class="table table-dark table-hover">
    <thead>
        <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Id</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var alumno in Model)
    {
       <tr>
           <td>@alumno.Nombre</td>
           <td>@alumno.Id</td>

       </tr>
    }
    </tbody>
</table>


    <p><i>@ViewBag.Fecha</i></p>

</div>
